body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

.background {
    border-radius: 15px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.brand {
    text-align: center;
    margin-bottom: 20px;
}

.brand h1 {
    margin: 0;
    color: #1e3c72;
}

.brand p {
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input:focus {
    border-color: #1e3c72;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #2a5298;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    

    background: #1e3c72;
    color: white;

    text-align: center;
    text-decoration: none;

    border-radius: 8px;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.8;
}
